html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#mainNav {
    display: flex;
    width: 100%;
    background-color: rgb(255, 106, 20);
    padding-top: 3%;
    justify-content: space-around;
}

#mainNav a {
    color: white;
    text-decoration: none;
    background-color: rgb(248, 134, 67);
    margin: auto;
    padding:2% 8%;
    border-radius: 20px 20px 0 0 ;
    font-size: xx-large;
    font-weight: bold;
    transition: background-color ease 0.2s, color ease 0.2s;
}

#mainNav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 106, 20);
}

footer {
  text-align: center;
  padding: 5px;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  list-style-type: none;
}

.articles p {
    text-align: justify;
    text-align-last: center;
}

.articles img {
    border-radius: 15px;
    object-fit: fill;
    width: 100%;
    height: 100%;
}

#logo-marmitouille {
    height: 35px;
    width: auto;
}